<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}
    <div>
      <div class="side-bar-content">
        {%- include index.html -%}
      </div>
      
      <div class="main-content">
        <main aria-label="Content">        
          <div class="wrapper">
            {{ content }}
          </div>
        </main>
      </div>
      <div class="glossary-content">
        {%- include glossary.html -%}
      </div>
    </div>
    

    {%- include footer.html -%}

  </body>

</html>
