.side-bar-content {
    width:20%;
    height:100%;
    float:left;
    margin:5px;
    // background-color:yellow;
}

.side-bar-category-list {
    list-style: none;
    margin: 15px;
    padding: 0px;
    border: 0;
}