/**
 * Site header
 */
 .site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;

    // Positioning context for the mobile navigation icon
    // position: relative;
}
  
.site-title {
    @include relative-font-size(1.625);
    font-weight: 1000;
    line-height: $base-line-height * $base-font-size * 2.5;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    margin-left: $margin-unit;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


/**
 * Site body
 */
.side-bar-content {
    width: 18%;
    min-width: 150px;

    float: left;
    margin: $margin-unit;
    // border: solid red 1px;
    // background-color:yellow;

    li {
        list-style: none;
        margin: 10px;
        padding: 0px;
        border: 0;
    }
}

.main-content {
    width: 60%;
    min-width: 600px;
    float:left;
    margin: $margin-unit;
    padding: $spacing-unit 0;
    flex: 1;
    // border: solid red 1px;
    // background-color: brown;
}


/**
 * Post card
 */
 .card-content {
    border: solid $grey-color-light;
    border-width: 2px 2px 2px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px $grey-color-dark;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    // background-color:yellow;
    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }
    
    .post-link {
        display: block;
        @include relative-font-size(1.3);
    }
 }


  