/**
 * Post book
 */
.post-book-header {
    margin-bottom: $spacing-unit;
  
  // Custom
  h1 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h2 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }
  h3 {
    @include relative-font-size(1.325);

    @include media-query($on-laptop) {
      @include relative-font-size(1.175);
    }
  }
}

.post-book-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-book-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(1.525);

    @include media-query($on-laptop) {
      @include relative-font-size(1.35);
    }
  }

  h2 {
    @include relative-font-size(1.425);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.325);

    @include media-query($on-laptop) {
      @include relative-font-size(1.175);
    }
  }

  h4 {
    @include relative-font-size(1.115);

    @include media-query($on-laptop) {
      @include relative-font-size(1.115);
    }
  }

  // Custom body
  ol, li, ul{
    @include relative-font-size(1.15);
    line-height: 1.8;
    // border: 1px solid red;
    padding: 1px;
  }
}

/**
 * Post dev
 */
.post-dev-header {

}

.post-dev-title {
  
}

.post-dev-content {
  
}